.nav-bar {
    height: 78px;
    // background-color: #d9ff98;
    background-color: #C7BBAF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    justify-content: space-around;
    img{
        width: 5%;
        // padding: 2%;
    }
    .nav-bar h2 {
        font-size: 30px;
        color: #394C45;
        align-items: center;
    }
    
    ul {
        display: flex;
        list-style: none;
        gap: 2%;
        width: 80%;
        align-items: center;
        justify-content: space-evenly;
        li {
            color: #394C45;
            align-items: center;
        }
    }
    
    .nav-bag {
        display: flex;
        align-items: center;
    }
    
    .bag-quantity {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border: 50%;
        padding-left: 30px;
    
    }
}
