.nav-bar{
    height: 100px;
    // background-color: #d9ff98;
    background-color:#C7BBAF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    font-size: 1.7rem;
    
    .left-row{
        max-width: 50%;
    }

    li {
    &:hover {
        opacity: calc(80%);
    }
}
}   

.right{
    display: flex;
    justify-content: space-between;
    align-items: center;

    div{
        padding-left: 20px;
        padding-right: 20px;
    }

    p{        color: #394C45
    }
}

.nav-bar img{
height:60px;
}

.nav-bar h2 {
    font-size: 30px;
    color: #394C45

}

ul{
display: flex;
list-style: none;
gap: 2%;
width: 100%;
justify-content: space-between;
padding-right: 5%;
padding-left:5%;

    li{
        color: #394C45
    }

    
}

//ZONA DERECHA NAVBAR

.Search {
    display: flex;
    align-items: center;
    justify-content: center;

    
    svg {
      &:hover {
        background-color: #dfd2c5;
        border-radius: 10PX;
        padding: 1%;
      }
    }
  
    &:hover {
        opacity: calc(90%);
      /* Agrega cualquier estilo adicional que desees para resaltar el botón al pasar el cursor sobre él */
    }
  }
  
  .validation {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: grid;
    }

    svg{      
        &:hover {
        background-color: #dfd2c5;
        border-radius: 10PX;
        padding: 1%;
      }
    }

    &:hover {
        opacity: calc(90%);
        /* Agrega cualquier estilo adicional que desees para resaltar el botón al pasar el cursor sobre él */
      }
  }
  
  .nav-bag {
    display: flex;
    align-items: center;
  
    .cart-value {
      display: grid;
      align-items: center;
      justify-content: center;
    }

    svg{      
        &:hover {
        background-color: #dfd2c5;
        padding: 1%;
        border-radius: 10PX;
      }
    }
  
    &:hover {
        opacity: calc(90%);
      /* Agrega cualquier estilo adicional que desees para resaltar el botón al pasar el cursor sobre él */
    }
  }
  
