.order-menu-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.toggle-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.menu-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    margin-bottom: 10px;

    h3 {
      font-size: 16px;
      margin-bottom: 5px;
    }
  }
}
