.notFoundContainer {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    gap: 50px;
    .errorTittle{
        color:  var(--color__primary);
        text-align: center;
    }
    .errorImage{
        width: 30vw;
        height: 30vw;
        border-radius: 10px;
        filter: drop-shadow(5px 8px 7px  #C7BBAF);
    }
}

@media screen and (max-width: 500px) {
    .notFoundContainer {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        .errorTittle{
            font-size:large;
        }
        .errorImage{
            width: 55vw;
            height: 55vw;
        }
    }
}