@import "../../../main.scss";
.containerDetails{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 7%;
    background-color: #f2efed;
    height: 100%;
    gap: 5%;
    .detailsImages {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        width: 30%;
        justify-content: space-evenly;
        .otherimg {
          width: 20%;
          height: auto;
          padding-top: 10px;
          border-radius: 30px;
        }
      
        .mainImage {
            height: auto;
            border-radius: 30px;
            width: 50%; 
            max-height: 300px; 
            flex-basis: 100%; 
            object-fit: contain;
        }
      }      
    .detailsInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55%;
        justify-content: center;
        h1 {
            color: $color_primary;
           text-align: center;
           justify-content: center;
        }
        
        h3{

        }
        h5{
            width: 50%;
            white-space: pre-line;
            line-height: 18px;
        }
        .button {
            @include button($pixel: 20%);
          }

      
    }
}