@import "../../../main.scss";

.containerCards {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color:  var(--bg__color);
  width: 100%;
  justify-content: center;
  padding: 2% 0;

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    // height: 400px;
    width: 20vw;
    // width: 25%;
    height: auto;
    //  width:  calc(25% - 2%);
    padding: 1%;
    background-color: #E6DCD8;
    margin: 8px;
    border-radius: 20px;
    

    .cardImage {
      height: 17vw;
      width: 17vw;
      // height: 200px; 
      // width: 200px; 
      border-radius: 20px;
      filter: opacity(85%);
      padding: 2%;
      object-fit: cover;
    }

    .price {
      background-color: #E6DCD8;
      width: 13vw;
      border-radius: 0 5px;
      text-align: center;
      z-index: 2;
      font-size: 2vh;
      font-weight: bolder;
      color: var(--color__primary);
      font-family: "Roboto", sans-serif;
    }

    .productName {
      // color: var(--color__primary);
      color: #986C4A;
      padding-top: 10px;
      text-align: center;
      font-size: 2vh;
      width: 55%;
      font-weight: 100;
    }


    .stars {
      display: flex;
      align-items: flex-end;
      margin-left: -40%;

      h4 {
        color: #F1A548;
        margin-right: 5px;
        align-items: flex-end;
      }
    }

    .productDescription {
      flex-grow: 1;
      padding: 2% 15%;
      font-size: 1.6vh;
      // font-family: sans-serif;
    }
  }

  .card:hover {
    cursor: pointer;
    // background-color: #e6d7cc;
    border: 3px solid var(--bg__color__layout);
    filter: drop-shadow(5px 7px 6px #C7BBAF);
  }
  .card:hover .productName{
    font-weight: bold;
  }
  .errorMessage {
    color: var(--color__primary);
    font-weight: bolder;
    text-align: center;
  }

}



@media screen and (max-width: 1100px) {
  .containerCards {
    display: flex;

    .card {
      width: 26vw;

      .cardImage {
        height: 20vw;
        width: 20vw;
      }

    }

  }
}
@media screen and (max-width: 800px) {
  .containerCards {
    display: flex;

    .card {
      width: 42vw;

      .cardImage {
        height: 30vw;
        width: 30vw;
      }

    }

  }
}
@media screen and (max-width: 500px) {
  .containerCards {
    display: flex;

    .card {
      width: 62vw;

      .cardImage {
        height: 40vw;
        width: 40vw;
      }

    }

  }
}
