/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

// Estilos Globales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*   font-family: 'Roboto', sans-serif; Colocar la fuente que se quiere*/
}

body {
  width: 100%;
}

:root {
  --color__primary: #394c45;
  --font__sizeTitle: 30px;
  --font__sizeText: 15px;
  --color__secundary: #e6dcd8;
  --bg__color: #f2efed;
}
