.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg__color);
    padding: 5%;
    align-items: center;
}
.searchForm{
    display: flex;
    width: 100%;
    gap: 5%;

    .inputSearchForm {
        color: black;
        display: block;
        justify-content: space-between;
        border: 0;
        width: 70%;
        height: 40px;
        padding: 10px;
        border-radius: 5px;
    }

    .button {
        padding: 2%;
        background-color: var(--color__secundary);
        color: var(--color__primary);
        width: 30%;
      }
    .button:hover{
      border: 1px solid var(--color__primary);
    }
}
