@import "../../main.scss";
.container-main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg__color);
    padding: 5%;
    align-items: center;
    .searchTittle{
      color: var(--color__primary);
    }

    .searchForm{
      display: flex;
      width: 100%;
      gap: 5%;
      
      .searchInput {
          color: black;
          display: block;
          justify-content: space-between;
          border: 0;
          width: 70%;
          height: 40px;
          padding: 10px;
          border-radius: 5px;
      }
  
      .searchButton {
          padding: 2%;
          background-color: var(--color__secundary);
          color: var(--color__primary);
          width: 30%;
        }
        .searchButton :hover{
        border: 1px solid var(--color__primary);
      }
  }
  }
  .productContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    // height: 400px;
    width: 18vw;
    // width: 25%;
    height: auto;
    //  width:  calc(25% - 2%);
    padding: 2%;
    background-color: #E6DCD8;
    margin: 8px;

    .cardImage {
      height: 14vw;
      width: 14vw;
      // height: 200px; 
      // width: 200px; 
      border-radius: 20px;
      filter: opacity(85%);
      padding: 2%;
      object-fit: cover;
    }

    .price {
      background-color: #E6DCD8;
      width: 13vw;
      border-radius: 0 5px;
      text-align: center;
      z-index: 2;
      font-size: 2vh;
      font-weight: bolder;
      color: var(--color__primary);
    }

    .productName {
      color: var(--color__primary);
      font-weight: bolder;
      padding-top: 10px;
      text-align: center;
      font-size: 2vh;
      width: 50%;
    }

    .productName:hover {
      text-decoration: underline;
    }

    .stars {
      display: flex;
      align-items: flex-end;
      margin-left: -40%;

      h4 {
        color: #F1A548;
        margin-right: 5px;
        align-items: flex-end;
      }
    }

    .productDescription {
      justify-content: center;
      align-items: center;
      padding: 2% 15%;
      font-size: 2vh;
    }
  }

  .card:hover {
    cursor: pointer;
  }

  .errorMessage {
    color: var(--color__primary);
    font-weight: bolder;
    text-align: center;
  }





@media screen and (max-width: 1100px) {
  .container {
    display: flex;

    .card {
      width: 26vw;

      .cardImage {
        height: 20vw;
        width: 20vw;
      }

    }

  }
}
@media screen and (max-width: 500px) {
  .container {
    display: flex;

    .card {
      width: 62vw;

      .cardImage {
        height: 40vw;
        width: 40vw;
      }

    }

  }
}
