/* New styles for navigation images */
.navigation-images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  overflow-x: scroll; /* Enable horizontal scrolling when needed */
  padding: 0 5px; /* Add some padding to keep space between images and scroll bar */
  padding-left: 100px;
}

.mobile-image {
  width: 150px; /* Adjust the width of the navigation images as needed */
  height: 200px; /* Adjust the height of the navigation images as needed */
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: opacity 0.7s ease-in-out; /* Add transition for opacity change */
  margin: 0 5px; /* Adjust the margin between images */
}

.mobile-image.active {
  opacity: 0.5; /* Adjust the opacity for the active navigation image */
}

.banner-fade-out {
  opacity: 0; /* Set opacity to 0 to create the fade-out effect */
}

/* Infinite scroll using pseudo-element */
.mobile-image-container {
  display: flex;
  animation: scrollImages 15s linear infinite;
  width: fit-content;
}

.mobile-image-container:after {
  content: "";
  display: block;
  width: calc(150px * 3); /* Adjust the width based on the number of images you want to scroll */
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-150px * 3)); /* Adjust the translateX value based on the number of images you have */
  }
}
