@import "../../main.scss";
.ulContainer{
    display: flex;
    justify-content: space-around;
    background-color:$bg_color;
    width: 100%;
    ul{
        display: flex;
        padding: 0.5%;
        background-color:#E6DCD8;
        border-radius: 12px;
        justify-content: space-evenly;
        width: 80%;
        list-style: none;
        li{
            color:  #986C4A;
            font-weight: bold;
        }
        li:hover{
            border-bottom: 2px solid #986C4A;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1000px) {
    .ulContainer{
        margin: 0;
        width: 50%;
        display: flex;
        justify-content: center;
        padding: 5%;
        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 5%;
        }
    }
    
  }